In [1]:
import operator
import random
import numpy as np
import pandas as pd

In [2]:
pop_ranked = [
    (4, 0.006587831970002887),
    (1, 0.005940998050890599),
    (5, 0.005921812859127111),
    (8, 0.005460965508648236),
    (9, 0.0053986320673279735),
    (0, 0.005398632067327973),
    (6, 0.005398632067327973),
    (2, 0.0053847901157584276),
    (3, 0.0053847901157584276),
    (7, 0.004987427324917248),
]

In [3]:
arr = np.array(pop_ranked)
df = pd.DataFrame(arr, columns=["Index", "Fitness"])
arr

array([[4.00000000e+00, 6.58783197e-03],
       [1.00000000e+00, 5.94099805e-03],
       [5.00000000e+00, 5.92181286e-03],
       [8.00000000e+00, 5.46096551e-03],
       [9.00000000e+00, 5.39863207e-03],
       [0.00000000e+00, 5.39863207e-03],
       [6.00000000e+00, 5.39863207e-03],
       [2.00000000e+00, 5.38479012e-03],
       [3.00000000e+00, 5.38479012e-03],
       [7.00000000e+00, 4.98742732e-03]])

In [4]:
sum1 = df["cum_sum"] = df.Fitness.cumsum()
df

   Index   Fitness   cum_sum
0    4.0  0.006588  0.006588
1    1.0  0.005941  0.012529
2    5.0  0.005922  0.018451
3    8.0  0.005461  0.023912
4    9.0  0.005399  0.029310
5    0.0  0.005399  0.034709
6    6.0  0.005399  0.040108
7    2.0  0.005385  0.045492
8    3.0  0.005385  0.050877
9    7.0  0.004987  0.055865

In [5]:
df["cum_perc"] = 100 * df.cum_sum / df.Fitness.sum()
df
for i in range (len(pop_ranked)):
    print(pop_ranked[i][0], end=',')

4,1,5,8,9,0,6,2,3,7,

In [6]:
pick =100 * random.random()
pick

15.809318761044288

In [7]:
pick <= df.iat[1, 3]
df.iat[3,2]

np.float64(0.023911608388668834)

In [8]:
df

   Index   Fitness   cum_sum    cum_perc
0    4.0  0.006588  0.006588   11.792517
1    1.0  0.005941  0.012529   22.427172
2    5.0  0.005922  0.018451   33.027484
3    8.0  0.005461  0.023912   42.802859
4    9.0  0.005399  0.029310   52.466654
5    0.0  0.005399  0.034709   62.130450
6    6.0  0.005399  0.040108   71.794245
7    2.0  0.005385  0.045492   81.433262
8    3.0  0.005385  0.050877   91.072280
9    7.0  0.004987  0.055865  100.000000

In [9]:
ls = [1,2,43,6,7]
res = []
def repe(s,ls):
    for i in range(s):
      res.append(ls[i])
# def repe(s,ls):
#     return [ls[i] for i in range(s)]

repe(3,ls)
res += [2]
res

[1, 2, 43, 2]